.sideNav {
  width: 120px;
  height: 100%;
  background: #001529;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;

  .logo {
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
  }
  .navList {
    display: flex;
    flex-direction: column;
    padding: 0;
    flex: 1 1 auto;

    .navItem {
      width: 100%;
      height: 40px;
      line-height: 40px;
      font-size: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      white-space: nowrap;
    }
  }
  .collapsed {
    align-self: flex-end;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.sideCollapsed {
  width: 60px;
  .navList {
    padding-left: 0;
    .navItem {
      justify-content: center;
    }
  }
}
